body {
    background-color: rgb(175, 175, 228);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    color: rgb(7, 7, 119) !important;
}
button {
    color: rgb(7, 7, 119);
}
h1 {
    text-align: center;
    margin-top: 30px;
}
.form-area {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 2%;
}
.addCourse {
    display: flex;
    justify-content: flex-end;
}
.addCourse button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}
form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.course {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
input {
    width: 90%;
}
input, select{
    border: none;
    margin-top: 10px;
    padding: 5px 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
}
input:focus, select:focus {
    border: 1px solid rgb(7, 7, 119);
}
.calcGP {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.calcGP button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.calcGP:focus {
    border: 1px solid rgb(7, 7, 119);
}
table {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(7, 7, 119);
    border-collapse: collapse;
    visibility: hidden;
}
table thead {
    font-weight: bold;
    text-align: center;
}
table td {
    text-align: center;
    padding: 10px;
} 
table .gpClass td {
    font-weight: bold;
    font-size: 18px;
}

@media screen and (min-width: 720px) {
    body {
        padding: 0px 30%;
    }
    .calcGP {
        display: flex;
        justify-content: flex-start;
    }
}